*{
    margin:0;
    padding:0;
  }
  
  body{
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 50%;
    background-color: #1CA46F;
    margin: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color:#926239;
    line-height:1.6;
  }
 

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar li{
  float: left;
}