body {
  background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 42%;
    background-color: #1CA46F;
    margin-top: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    line-height:1.6;
}

.dashboard-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1CA46F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c51a1a;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .transactions-list {
    list-style: none;
    padding: 0;
  }
  
  .transactions-list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .transactions-list li:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  p {
    text-align: center;
    color: #999;
  }
  
  form {
    margin-bottom: 30px;
  }
  